

.header{
    background-color: #fff;
    color: black;
    border-bottom: #007bff 2px solid;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px 10px;
    z-index: 1000;;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: background 0.3s ease;
    
}

.header-content {
  color: black;
  font-size: x-large;
  font-family: 'roboto', sans-serif;
  display: flex;
  margin-right: 10px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
}

.header-img {
  width: 50px;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: right;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 14px; /* Espaço entre logo e texto */
}

.header-img {
  width: 120px;
  height: auto;
}

icon{
  position: absolute;
}

.user-icon {
  height: 70px;
  margin-right: 10px;
}