.navbar-container {
    background-color: #1a4dff;
    border-radius: 30px;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: background 0.3s ease;
    display: fixed;
    margin: 100px 10px;
    text-decoration: none;
    max-width: 1180px;
    
}

.nav-button {
    border: none;
    padding: 4px 70px;
    margin: 1px 10px;
    cursor: pointer;
    font-size: 14px;
    color: #1a4dff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.nav-button.active {
    background-color: #182e6d;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-button:not(.active):hover {
    background-color: #e6e6e6;
}

